header {
   /* cabeçalho*/

   background-color: rgb(255, 199, 243);
   /* cor de fundo
 do cabeçalho*/
   color: black;
   /* cor da fonte*/
   text-align: center;
   /* alinha o tx ao centro*/
   max-width: 800px;
   margin: 0 auto;
   /* margens*/
   padding: 16px;
   /* espaçamento interno*/
   border: 5px solid black;
   /* borda*/




}

main {
   /* texto principal*/

   background-color: rgb(250, 117, 210);
   /* cor de fundo
 do texto principal*/
   color: black;
   /* cor da fonte*/
   text-align: center;
   /* alinha o tx ao centro*/
   max-width: 800px;
   margin: 0 auto;

   display: flex;/*habilidade /

}




footer {
   /* rodapé*/

   background-color: rgb(255, 112, 248);
   /* cor de fundo
 do texto rodapé*/
   color: black;


}


img{  /*imagem*/


width: 80px;  /*largura*/
height: 80px; /*altura*/


}