header {
   /* cabeçalho*/

   background-color: rgb(255, 199, 243);
   /* cor de fundo
 do cabeçalho*/
   color: black;
   /* cor da fonte*/
   text-align: center;
   /* alinha o tx ao centro*/
   max-width: 800px;
   margin: 0 auto;
   /* margens*/
   padding: 16px;
   /* espaçamento interno*/
   border: 5px solid black;
   /* borda*/




}

main {
   /* texto principal*/

   background-color: rgb(255, 165, 228); /* cor de fundo
 do texto principal*/
   color: black;
   /* cor da fonte*/
   text-align: center;
   /* alinha o tx ao centro*/
   max-width: 800px;
   margin: 0 auto;
   padding: 16px; /*espaçamento interno*/
   display: flex;/*habilita o uso de flex box */
  flex-direction: row ; /*orienta os lementos na horizontal, 1,2,3*/
   border: 5px solid black;
   /* borda*/

}





footer {
   /* rodapé*/

   background-color: #792374;
   /* cor de fundo do texto rodapé*/

   color: black;
  max-width: 800px; /*largura max*/

}


img{  /*imagem*/

width: 80px;  /*largura*/
height: 80px; /*altura*/

}

.artigo-autor {
font-weight: bold;

}
